.react-datepicker__navigation .react-datepicker__navigation--next {
  color: #ffff;
}

.react-datepicker__month-container {
  width: 100% !important;
  color: #ffff;
  font-size: 12px;
}

.react-datepicker {
  width: 100% !important;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

.react-datepicker__header {
  background-color: transparent;
  color: #ffff;
  border: none;
  padding: 10px 0px;
}

.react-datepicker__current-month {
  color: #ffff;
}

.react-datepicker__day-name {
  color: #ffff;
  margin-top: 10px;
  width: 30px !important;
  font-size: 11px;
  font-weight: medium;
  text-transform: uppercase;
}

.react-datepicker__day {
  width: 30px !important;
  padding: 2px 0px;
  color: #ffff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  border-radius: 50%;
  background-color: rgba(86, 68, 211, 0.5) !important;
}

.react-datepicker__day--disabled {
  width: 30px !important;
  padding: 2px 0px;
  border-radius: 50%;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.1) !important;
  background-color: transparent !important;
}

.react-datepicker__day--disabled:hover {
  background-color: transparent !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #5644d3 !important;
  font-weight: bold !important;
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: #5644d3 !important;
  font-weight: bold !important;
}
